/*######################################
  Global Styles, to norm all elements
######################################*/

/*---------------------------------------------
Set margin padding and font stuff for every element,
then it should not be required to set them again.
---------------------------------------------*/
html,body,table,td,div,form,button,select,input,textarea,h1,h2,h3,h4,h5,h6,a,p,cite,quote,u,i {
  margin: 0px;
  padding: 0px;
  font-family: Verdana,Tahoma,Geneva,Arial,Helvetica,Sans-serif;
  font-size: 11px;
  line-height: 1.2;
}

/*---------------------------------------------
Set body attributes color and background
---------------------------------------------*/
html,body {
  color: #000;
  background: #dfdfdf url(../images/background.jpg) repeat-x;
}
/*---------------------------------------------
Set as blockelements
---------------------------------------------*/
h1,h2,h3,h4,h5,h6,hr,p,div,form {
  display: block;
}

/*---------------------------------------------
Set vertical align to top, this helps if the
text flys in the middle of a table (td).
---------------------------------------------*/
td {
  vertical-align: top;
}

/*---------------------------------------------
Set font bold inside of this elements.
---------------------------------------------*/
strong, caption, optgroup, .strong {
  font-weight: bold;
  font-style: normal;
}

/*---------------------------------------------
Set no border for tables and images, the images
border comes if you link any image <a href=""><img></a>
and this sheet does make the border invisible
---------------------------------------------*/
img,table {
  border: 0px none;
}

/*---------------------------------------------
Set a cursor for the label-TAG
---------------------------------------------*/
label {
  cursor: pointer;
}

/*---------------------------------------------
Set global style of the horizontal line
---------------------------------------------*/
hr {
    color : #000;
    height : 1px;
    padding : 0;
    border-color : #000;
    border-width : 1px 0 0 0;
    border-style : solid;
    margin: 3px 0 6px 0;
}

*+html hr { margin: 0 }
* html hr { margin: 0 }

/*---------------------------------------------
Set a square as in front of an unordered list
---------------------------------------------*/
ul li {
    list-style: square;
}

/*---------------------------------------------
Set general link style
---------------------------------------------*/
a:link,a:visited,a:hover,a:active {
  color: #414141; font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}

a:focus { outline: 0 none }

/*####################################
  DZCP STYLES
####################################*/
/*---------------------------------------------
Set attributes for the Main View (index.html)
---------------------------------------------*/
/*###### Global defines ######*/
/* Cursors */
.pointer {
    cursor:pointer
}
.default {
    cursor:default
}
/* Rounded Corners */
.corner,
input,
select,
textarea,
.mceEditor,
.mceLayout,
table.mainContent td {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(border-radius.htc);
}
/* Clear Fix */
.clearFix {
    clear:both;
    height:0px;
    width:0px;
    line-height:0px;
    margin:0px;
    padding:0px;
}
/* Let and Right Float */
.leftFloat {float:left}
.rightFloat {float:right}

/* Displaying Website */
div#wrapper {
    margin:0 auto;
    width: 1241px
}
div#header {
    height:145px;
    position:relative
}
div#footer     {
    background:#d3d3d3;
    border-top:1px solid #c4c4c4;
    border-bottom:1px solid #c4c4c4;
    margin-top:7px
}

/* Rotationsbanner im Header */
div#rotationsbanner {
    position:absolute;
    right:0px;top:40px;
    background:#fff;
    padding:5px
}

/* Wo bin ich und Suchfeld */
div#brackets {
    background:url(../images/brackets.jpg);
    height:52px;line-height:48px;
    color:#a9a9a9;
    padding-left:20px;
    margin:4px 0;
    position:relative;
    font-size:13px
}
div#brackets div#search {
    position:absolute;
    right:20px;top:10px
}

/* Zeige Footer in der Mitte an */
div#footwrapper {
    margin:0 auto;
    width:785px;
    padding-bottom:10px
}

/* Navigation um Footer */
div.footNavigation {
    width:180px;
    max-width:180px
}

div.footNavigation h2 {
    height:48px;
    line-height:48px;
    font-size:14px;
    font-weight:normal;
}
div.footNavigation ul,
div.footNavigation ul li {
    list-style: none;
    padding:0px;
    margin:0px
}

/* Box Stylings */
/* Global Settings */
/* linke und rechte Spalte */
div.sideContent,
div#middleContent {
    float:left;
}

div#middleContent {
    width:799px;
}

div.sideContent {
    width:221px
}

/* Index Bereich (Mainframe) */
div#index {
    padding:14px
}
.index {
    margin:    0 7px;
    background: #fff;
    padding:4px;
    color:#7d7d7d
}

/* Boxen linke und rechte Seite */
.box {
    background:#fff;
    margin-bottom:7px;
    padding:0 7px 7px 7px
}
/* Globale Ueberschriftendefinierung */
.headline {
    line-height:41px;
    font-size:13px;
    padding:0 18px;
    display:block;
    font-weight:normal;
}
/* Ueberschrift normale Boxen */
.box .headline {
    height:49px;
    background:url(../images/headBox.jpg) bottom repeat-x;
    margin:0 -7px
}

/* Main Navigation (linke Seite) */
.mainNavigation {
    background:#2f2f2f;
    padding-bottom:5px;
    margin-bottom:10px
}

.mainNavigation ul li:nth-last-child(1) a {
background:none;
}

/* Ueberschrift Main Navigation */
.mainNavigation h2.headline {
    height: 45px;
    color:#fff;
     background:url(../images/headMainNavigation.jpg) bottom repeat-x
}
/* Styling der ul liste */
.mainNavigation ul,
.mainNavigation ul li {
    list-style:none;
    padding:0px;
    margin:0px
}

/* Anzeige der Galleriebox */
div#galleriebox {
    border:1px solid #e5e5e5;
    padding:11px 12px 11px 12px;
    margin:0 14px
}
/* Ueberschrift Galleriebox */
#galleriebox span.headline {
    background:#f0f0f0;
    height:37px;
    line-height:37px;
    margin:-10px -11px 10px -11px
}
/* Einzelne Bilder */
#galleriebox div.gallerie {
    float:left;
    margin:0 4px
}

/* Tabswitch Plugin */
.tabright {
    width:50%;
    text-align:left;
    display:block;
    float:left
}
.tableft {
    width:50%;
    text-align:right;
    display:block;
    float:right
}
.tabs span {
    cursor:pointer;
    color:#CCC
}
.tabs span.current {
    cursor:default;
    color:#000
}

/* Slideshow Plugin */
div#slideshow {width:777px; height:200px; position:relative; overflow:hidden; background:#000}
div.images {width:777px; height:200px; position:absolute; z-index:1; cursor:pointer}
div.slidetabs {position:absolute; top:5px; right:10px; z-index:2}
div.images div.sliderinhalt {display:none}

div.images div.slideroverlay {position:absolute; bottom:0px; left:0px; width:287px; background:url(../images/slideshow/textfield.png) repeat; padding:14px}
div.slideroverlay h2 {color:#fff; font-size:12px}
div.slideroverlay span {color:#c6c4c2}
div.slidetabs a.slidertabs {background:url(../images/slideshow/slidetabs.png); width:17px; height:17px; display:block; cursor:pointer; float:left}
div.slidetabs a.slidertabs:hover {background-position:0 17px}
div.slidetabs a.slidertabs.current {background-position:0 17px; cursor:default}

/*---------------------------------------------
Set attributes for the main-table
---------------------------------------------*/
table.maintable {
  background: url(../images/bg_content.jpg) repeat-y;
  margin: auto; width: 1005px;
}

/*---------------------------------------------
Set attributes for the content-table
---------------------------------------------*/
table.content {
  margin: 0px;
  width: 100%;
  max-width: 100%;
}

/*---------------------------------------------
persInfobox above the Header
-----------------------------------------------
menu/pers.infos.html
---------------------------------------------*/
table.persInfo {
  background-color: #FFF;
  border-bottom: 1px solid #000;
  margin: 0px;
  width: 100%;
  text-align: center;
}

table.subPersInfos {
  text-align: center;
}

span.fontBoldPersInfos {
  font-weight: bold;
}

table.persInfo td, table.persInfo span {
  color: #000;
}
/*---------------------------------------------
Header attributes
-----------------------------------------------
index.html
---------------------------------------------*/
td.pagetitle {
  height: 149px;
  text-align: left;
  vertical-align: bottom;
}

td.pagetitleContent {
  width: 710px;
  height: 150px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
/*---------------------------------------------
Attributes of the Welcomebar
-----------------------------------------------
index.html
---------------------------------------------*/
td.welcomebar {
  text-align: left;
}

span.welcomebar {
  color: #FFF;
}

/*---------------------------------------------
Attributes of the main-content (shouldnt be edited)
-----------------------------------------------
index.html
---------------------------------------------*/
table.mainContent {
  width: 100%; background: #fff;
  padding: 0px;
  margin: 0px; margin-top: 15px;
  text-align: left;
}

table.navContent {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

table.hperc {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

/*---------------------------------------------
Attributes of the navigations loginbox
-----------------------------------------------
menu/login.html
---------------------------------------------*/
td.loginLeft, td.loginRight {
  width: 3px;
}

input.loginName_dis,input.loginPwd_dis,input.loginName_en,input.loginPwd_en,input.loginSubmit {
  width: 198px; color: #4e4e4e;
  border: 1px solid #d4d4d4;
  background-color: #fbfbfb;
  padding: 2px;
}

input.loginName_en,input.loginPwd_en {
  background-color: #FFF;
  border:1px solid #4e4e4e;
  color:#000;
}

input.loginSubmit {
  width: 60px;
  padding: 1px;
  background-image: url(../images/submit.jpg);
  border: 1px solid #5F5F5F;
  color: #fff;
  cursor: pointer;
}

input.loginSignUp:hover {
  background-image: url(../images/submit_hover.jpg);
}

input.loginSubmit {
  font-weight: bold;
}

/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/vote.html
menu/vote_results.html
menu/vote_vote.html
---------------------------------------------*/
td.navVoteButton {
  text-align: center;
}

input.voteSubmit {
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../images/submit.jpg);
  border: 1px solid #5F5F5F;
  color: #fff;
  cursor: pointer;
}
input.voteSubmit:hover {
  background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.voteSubmit { overflow: visible; }
* html input.voteSubmit { overflow: visible; }
/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/shout.html
menu/shout_add.html
menu/shout_form.html
---------------------------------------------*/
td.navShoutContentFirst {

}

td.navShoutContentSecond {

}

/*---------------------------------------------
Disabled input field (not clicked)
---------------------------------------------*/
input.shoutEmail_dis,input.shoutNick_dis,textarea.shoutTextfield_dis,
input.shoutEmail_en,input.shoutNick_en,textarea.shoutTextfield_en {
  border: 1px solid #d4d4d4;
  background-color: #fcfcfc;
  color: #4e4e4e; padding: 1px;
  width: 148px;
}
/*---------------------------------------------
Enabled input fields (clicked)
---------------------------------------------*/
input.shoutEmail_en,input.shoutNick_en,textarea.shoutTextfield_en {
  background-color:#fff;
  border:1px solid #4e4e4e;
  color:#000;
}


/*---------------------------------------------
Shoutbox-textfield
---------------------------------------------*/
textarea.shoutTextfield_dis,textarea.shoutTextfield_en {
  overflow: Auto;
  height: 80px;
}

/*---------------------------------------------
Shoutbox submit button
---------------------------------------------*/
input.shoutSubmit {
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../images/submit.jpg);
  border: 1px solid #5F5F5F;
  color: #fff;
  cursor: pointer;
}
input.shoutSubmit:hover {
  background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.shoutSubmit { overflow: visible; }
* html input.shoutSubmit { overflow: visible; }
/*---------------------------------------------
Shoutbox submit button
---------------------------------------------*/
input.shoutLength {
  width: 26px;
  height: 13px;
  border: 0px;
  background-color: transparent;
  text-align: center;
}

/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/server.html
server/server_show.html
---------------------------------------------*/
img.navServerPic,img.ServerPic {
  width: 155px;
}

/*---------------------------------------------
Attributes of all navigation boxes
-----------------------------------------------
menu/nav_[box].html
---------------------------------------------*/
table.tableNav {
  width: 100%;
}

td.navMainLeft,td.navClanLeft,td.navServerLeft,td.navMiscLeft {
  width: 2px;
}

td.navMainRight,td.navClanRight,td.navServerRight,td.navMiscRight {
  width: 2px;
}

td.navMainContent,td.navClanContent,td.navServerContent,td.navMiscContent {
  text-align: left;
}

td.navUserLeft,td.navMemberLeft,td.navTrialLeft,td.navAdminLeft {
  width: 5px;
}

td.navUserRight,td.navMemeberRight,td.navTrialRight,td.navAdminRight {
  width: 0px;
}

td.navUserContent,td.navMemberContent,td.navTrialContent,td.navAdminContent {
  text-align: left;
}

td.navUotmContent,td.navPartnerContent,td.navSponsorsContent {
  text-align: center;
  padding: 2px 0;
}

img.uotm {
  width: 130px;
  height: 161px;
}

td.navLregLeft,td.navTopdlLeft,td.navTeamspeakLeft {
  width: 5px;
}

td.navLregContent,td.navTopdlContent,td.navTmpswitchContent,td.navPagerankContent,td.navTeamspeakContent {
  text-align: left;
}

div.navGameServer,
div#navTeamspeakContent {
  position: relative;
  width: 207px;
  overflow: auto;
  overflow-x: auto; overflow-y: hidden;
}

div.navGameServer { width: 207px }

td.navTeamspeakRight {
  width: 11px;
}

td.navTopdlRight {
  width: 11px;
}

td.navTopdlHits {
  text-align: right; vertical-align: middle;
}

td.navTmpswitchLeft {
  width: 13px;
}

td.navNextCwDate {
  color: #333;
  vertical-align: middle;
}

td.navLastNewsLeft,td.navFtopicsLeft,td.navLastCwLeft,td.navNextCwLeft,td.navLastArtikelLeft,td.navKalLeft,td.navVoteLeft,td.navShoutLeft,td.navServerStatsLeft,td.navEventsLeft,td.navTeamLeft,td.topMatchLeft {
  width: 2px;
}

td.navLastNewsContent,td.navFtopicsContent,td.navLastCwContent,td.navNextCwContent,td.navLastArtikelContent,td.navServerStatsContent,td.navEventsContent {
  text-align: left;
  vertical-align: middle;
}

td.navLastNewsRight,td.navFtopicsRight,td.navLastCwRight,td.navNextCwRight,td.navLastArtikelRight,td.navKalRight,td.navVoteRight,td.navShoutRight,td.navServerStatsRight,td.navEventsRight,td.navTeamRight,td.topMatchRight {
  width: 2px;
}

td.navLastCwLeft,td.navNextCwLeft,td.navLastCwRight,td.navNextCwRight {
  width: 5px;
}

td.navServerStatsContent {
  text-align: center;
}
td.navServerStatsSpace {
  height: 5px;
}

td.navKalHead,td.navKalHeadDays,td.navKalDays,td.navKalToday,td.navKalEmpty,td.teamHead {
  text-align: center;
}

td.navKalHead span, td.navKalHead a {
  font-size: 11px;
}

td.navKalToday {
  border: 1px solid #2372fa;
  font-weight: bold;
  font-style: italic;
  color: #2372fa;
}

/*---------------------------------------------
Attributes of the counter-box
-----------------------------------------------
menu/counter.html
---------------------------------------------*/

td.counterLeft,td.counterRight {
  width: 3px;
}

td.counterContentHead {
  text-align: left;
}

td.counterContentLeft {
  text-align: left;
  width: 69px;
}

td.counterContentRight {
  text-align: right;
}

td.counterSpace {
  height:5px;
}
/*---------------------------------------------
Global styles of the content
---------------------------------------------*/
td.contentHead,td.contentMainTop,td.contentMainFirst,td.contentMainSecond,td.contentBottom,td.contentBottomLeft {
  height: 16px;
  padding: 3px;
  vertical-align: middle;
}


td.contentHead,td.infoTop {
  background-color: #303030;
  text-align: center;
  color:#ccc;
  border-bottom: 1px solid red;
}

td.contentMainTop,tr.contentMainTop {
  background-color: #ededed;
  vertical-align: top;
}

td.contentMainFirst,
div#infoInnerLayer,
td.commentsRight,
td.navShoutContentFirst,
td.error,td.calDay,td.calToday,
.adminBarInner,.adminBarInnerOver,.adminMenuOuter,.adminMenuOuterOver,
.adminBarOuter,.adminBarOuterOver,.adminMenuInner,.adminMenuInnerOver {
  background-color: #fff;
}

td.contentMainSecond,
td.commentsLeft,
td.navShoutContentSecond,
.adminMenuInnerOver,.adminMenuOuterOver {
  background-color: #f5f5f5;
}

td.contentBottom,td.contentBottomLeft {
  background-color: #ededed;
  text-align: center;
  font-weight: bold;
}

td.contentBottomLeft {
  text-align: left;
}

td.gray {
  color:#ccc;
}

/*---------------------------------------------
Attributes of the Newsarea
-----------------------------------------------
news/news_show.html
news/comments_show.html
news/archiv.html
news/archiv_show.html
---------------------------------------------*/

/* NEWS */
table.news {margin-bottom:30px}
/* Newsbild Positionierung */
td.news img.newsImage {float:left;margin:0 15px 15px 0}
/* Settings Newatitel */
td.news h1 {height:auto;line-height:30px;font-size:13px;color:#676767}
td.news p {padding-bottom:5px}

/* Newsbox*/
td.newsContent {
  padding: 3px;
}

td.archiveStats {
  text-align: center;
  background-color: #EEE;
  color: #000;
  border: 1px solid #000;
  padding: 2px;
}
/*---------------------------------------------
Attributes of all Comments/GB-Entrys/Boardentrys
-----------------------------------------------
news/comments_show.html
artikel/comments_show.html
forum/forum_posts.html
forum/forum_posts_show.html
---------------------------------------------*/
td.commentsLeft {
  width: 25%;
  height: 128px;
  padding: 2px;
}

td.commentsRight {
  vertical-align: top;
  padding:4px;
}

/*---------------------------------------------
Attributes of the calendar
-----------------------------------------------
kalender/day.html
---------------------------------------------*/
td.calDay,td.calToday {
  text-align: left;
  vertical-align: top;
  width: 14%;
  height: 70px;
}

td.calToday {
  border: 1px solid #000;
}

/*---------------------------------------------
Attributes of the squads
-----------------------------------------------
squads/squads_show.html
squads/squads_member.html
clanwars/stats.html
clanwars/squads_show.html
awards/squads_show.html
awards/squads_show_all.html
awards/stats.html.html
server/server_show.html
---------------------------------------------*/
table.highlightSquads,table.highlightStats,table.highlightAwards,table.highlightServer {
  width: 100%;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  padding: 4px;
}

table.highlightServer {
  padding: 0px;
}

table.highlightSquads {
  border: 0px;
}

table.highlightAwards {
  padding: 0px;
}

img.squadMember {
  width: 100%;
  height: 1px;
  background-color: #707070;
}
/*---------------------------------------------
Attributes of several links
-----------------------------------------------
menu/*.html
---------------------------------------------*/

a.navUser:link,a.navUser:visited,
a.navTrial:link,a.navTrial:visited,
a.navMember:link,a.navMember:visited,
a.navAdmin:link,a.navAdmin:visited,
a.navLostPwd:link,a.navLostPwd:visited,
a.navLastNews:link,a.navLastNews:visited,
a.navFtopics:link,a.navFtopics:visited,
a.navTopdl:link,a.navTopdl:visited,
a.navLastReg:link,a.navLastReg:visited,
a.navLastArtikel:link,a.navLastArtikel:visited,
a.navLastCw:link,a.navLastCw:visited,
a.navNextCw:link,a.navNextCw:visited,
a.navKal:link,a.navKal:visited,
a.navVote:link,a.navVote:visited,
a.navCounter:link,a.navCounter:visited,
a.navShout:link,a.navShout:visited,
a.navTeam:link,a.navTeam:visited,
a.navServerStats:link,a.navServerStats:visited,
a.navTeamspeak:link,a.navTeamspeak:visited {
  font-weight: normal;
  color: #414141;
}

a.navUser:hover,a.navUser:active,
a.navTrial:hover,a.navTrial:active,
a.navMember:hover,a.navMember:active,
a.navAdmin:hover,a.navAdmin:active,
a.navLostPwd:hover,a.navLostPwd:active,
a.navLastNews:hover,a.navLastNews:active,
a.navFtopics:hover,a.navFtopics:active,
a.navTopdl:hover,a.navTopdl:active,
a.navLastCw:hover,a.navLastCw:active,
a.navNextCw:hover,a.navNextCw:active,
a.navLastArtikel:hover,a.navLastArtikel:active,
a.navLastReg:hover,a.navLastReg:active,
a.navKal:hover,a.navKal:active,
a.navVote:hover,a.navVote:active,
a.navCounter:hover,a.navCounter:active,
a.navShout:hover,a.navShout:active,
a.navTeam:hover,a.navTeam:active,
a.navServerStats:hover,a.navServerStats:active,
a.navTeamspeak:hover,a.navTeamspeak:active {
  color: #ff0000;
}

a.navTopdl:link,a.navTopdl:visited,
a.navLastArtikel:link,a.navLastArtikel:visited {
  display: block; padding: 1px 2px;
}

a.navLastArtikel:link,a.navLastArtikel:visited,
a.navLastCw:link,a.navLastCw:visited,
a.navNextCw:link,a.navNextCw:visited,
a.navLastNews:link,a.navLastNews:visited,
a.navFtopics:link,a.navFtopics:visited {
  padding: 2px 6px; 
  padding-bottom: 4px;
  display: block;
}

a.navLastCw:link,a.navLastCw:visited,
a.navNextCw:link,a.navNextCw:visited {
  padding-left: 1px; padding-right: 1px;
}

a.navShout:link,a.navShout:visited { font-weight: bold }

a.navCounter:link,a.navCounter:visited,
a.navKal:link,a.navKal:visited {
  color: #ff0000;
  font-weight: bold;
}

/* Navigation */

a.navMain:link,a.navMain:visited {
  background: url(../images/main_navigation.jpg) bottom repeat-x;
  font-weight: normal;
  display: block;
  height: 34px;
  line-height:32px;
  margin:0 19px;
  color:#cccccc;
}


td.contentHead a:link, td.contentHead a:visited {
  color:#cccccc;
}

td.contentHead a:hover, td.contentHead a:active,
a.navMain:hover,a.navMain:active {
  color: #fff;
}

a.navClan:link,a.navClan:visited,
a.navServer:link,a.navServer:visited,
a.navMisc:link,a.navMisc:visited {
    font-weight:normal;
    color:#7d7d7d;
    margin:0 1px;
    width:140px;
    padding:2px 4px;
    display:block;
}

a.navClan:hover,a.navClan:active,
a.navServer:hover,a.navServer:active,
a.navMisc:hover,a.navMisc:active {
  color: #7d7d7d;
  background:#e4e4e4;
}

/*
  Welcomelink
*/
.welcome:link,.welcome:visited,.welcome:hover,.welcome:active {
  color: #414141;
  font-weight: bold;
}
.welcome:hover,.welcome:active {
  color: #ff0000;
}

/*---------------------------------------------
Attributes of various font-styles
---------------------------------------------*/
span.fontText {
  font-weight: normal;
}

span.fontBold {
  font-weight: bold;
}

span.fontItalic {
  font-style: italic;
}

span.fontUnder {
  text-decoration: underline;
}

span.fontBoldUnder {
  font-weight: bold;
  text-decoration: underline;
}

span.fontItalicUnder {
  font-style: italic;
  text-decoration: underline;
}

span.fontError,span.fontWichtig,span.fontMarked,span.fontRed {
  font-weight: bold;
  color: #e50000;
}

span.fontGreen {
  font-weight: bold;
  color: #17D427;
}

/*
  Navigation ( << 1 2 3 >> )
*/

span.fontSites {
  font-weight: bold;
  color: #EE0000;
}

span.fontSitesMisc {
  color: #000;
}

.sites:link,.sites:visited,.sites:hover,.sites:active {
  font-size: 10px;
  text-decoration: none;
}

.sites:hover,.sites:active {
  text-decoration: none;
}

/*
  Clanwarresults
*/
span.navCwWon,span.navCwDraw,span.navCwLost,span.CwWon,span.CwDraw,span.CwLost {
  font-weight: bold;
}

span.navCwWon,span.CwWon {
  color: #17D427;
}

span.navCwDraw,span.CwDraw {
  color: #DBD004;
}

span.navCwLost,span.CwLost {
  color: #e50000;
}

/*---------------------------------------------
Attributes of the errortable
-----------------------------------------------
errors/errortable.html
---------------------------------------------*/
td.error {
  text-align: center;
  padding: 3px;
}

/*---------------------------------------------
Style of the preloader
---------------------------------------------*/
div#preload {
  background-color: #FFF;
  border: 1px solid #000;
}

/*---------------------------------------------
Style of the higlighted boxes (Vote,Profil, etc)
---------------------------------------------*/
td.highlight {
  text-align: left;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}
/*---------------------------------------------
Style of the statisitc beam (votes, CWs)
---------------------------------------------*/
td.statsBalken {
  border: 1px solid #000;
  background-image: url('../../../images/vote_bg.gif');
}
/*---------------------------------------------
Attributes of various formulars
---------------------------------------------*/
/*****************************
*****************************/
/*---------------------------------------------
Templateswitcher dropdown
-----------------------------------------------
menu/tmp_switch.html
---------------------------------------------*/
select.tempswitch {
  width: 120px;
  color: #000;
  font-size: 97%;
  background-color: #FFF;
  border: 1px #000 solid;
}
/*---------------------------------------------
Dropdownmenus
---------------------------------------------*/
select.dropdown {
  color: #000;
  font-size: 97%;
  background-color: #FFF;
  border: 1px #000 solid;
}
/*---------------------------------------------
Dropdownmenus -> Categories
---------------------------------------------*/
option.dropdownKat {
  color: #000;
  font-size: 97%;
  font-weight: bold;
  background-color: #dbdbdb;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}
/*---------------------------------------------
Enabled/disabled input fields (not clicked)
---------------------------------------------*/
input.inputField_dis,input.inputField_dis_small,input.inputField_dis_mid,input.inputFieldFsearch_dis,input.inputFieldKal_dis,textarea.inputFieldKalDesc_dis,textarea.inputField_dis,input.inputField_dis_profil,textarea.inputField_dis_nletter,input.inputField_en,input.inputField_en_mid,input.inputField_en_small,input.inputFieldFsearch_en,input.inputFieldKal_en,textarea.inputFieldKalDesc_en,textarea.inputField_en,input.inputField_en_profil,textarea.inputField_en_nletter,textarea.inputField_dis_profil,textarea.inputField_en_profil {
  border: 1px solid #d4d4d4;
  background-color: #fcfcfc;
  color: #4e4e4e;
  padding:1px;
  width: 250px;
}
input.inputField_en,input.inputField_en_mid,input.inputField_en_small,input.inputFieldFsearch_en,input.inputFieldKal_en,textarea.inputFieldKalDesc_en,textarea.inputField_en,input.inputField_en_profil,textarea.inputField_en_nletter,textarea.inputField_en_profil {
  background-color: #FFF;
  border:1px solid #4e4e4e;
  color:#000;
}
/*---------------------------------------------
Several input fields
---------------------------------------------*/
/*
  Small inputfields
*/
input.inputField_dis_small,input.inputField_en_small {
  width: 22px;
  text-align: center;
}
/*
  Middle sized inputfields
*/
input.inputField_dis_mid,input.inputField_en_mid {
  width: 68px;
}
/*
  Board Search
*/
input.inputFieldFsearch_dis,input.inputFieldFsearch_en {
  width: 180px;
}
/*
  Calendar admin
*/
input.inputFieldKal_dis,input.inputFieldKal_en {
  width: 240px;
}

textarea.inputFieldKalDesc_dis,textarea.inputFieldKalDesc_en {
  overflow: Auto;
  width: 240px;
  height: 100px;
}
/*
  Edit profile fields
*/
input.inputField_dis_profil,input.inputField_en_profil,
textarea.inputField_dis_profil,textarea.inputField_en_profil {
  width: 200px;
}
/*
  Gallery Admin
*/
textarea.inputField_dis,textarea.inputField_en {
  overflow: Auto;
  height: 100px;
}

/*
  Newsletter textarea
*/
textarea.inputField_dis_nletter,textarea.inputField_en_nletter {
  width: 90%;
  height: 200px;
  overflow: Auto;
}
/*---------------------------------------------
Atrributes of (submit)buttons
---------------------------------------------*/
input.submit {
  margin: 0px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../images/submit.jpg);
  border: 1px solid #5F5F5F;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}
input.submit:hover {
  background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.submit { overflow: visible; }
* html input.submit { overflow: visible; }
/*####################################
  These sheets shouldn`t be edited
####################################*/
input.checkbox,input#loginCheckbox {
  border:0px;
  cursor: pointer;
}

.emph,.msg {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
  padding: 2px; z-index: 9999999;
}

.msg * { color: #000 }
.msg a:link, .msg a:visited { color: #000 }

td.middle,div.middle {
  vertical-align: middle;
  text-align: center;
}


/*####################################
  DZCP 1.4 Styles
####################################*/
/*---------------------------------------------
  WYSIWYG-Editor
---------------------------------------------*/
textarea.editorStyle,
textarea.editorStyleWord,
textarea.editorStyleMini,
textarea.editorStyleNewsletter {
  overflow: auto;
  width: 650px;
  height: 200px;
}
textarea.editorStyleWord {
  height: 270px;
}
textarea.editorStyleMini {
  width: 90%; height: 100px;
}

/*
  shouldn`t be edited
*/

div.clipMore {
  border-top: 1px dashed #BBB;
  border-bottom: 1px dashed #BBB;
  padding: 2px;
}

p {
  margin: 0px;
  padding: 0px;
}

div#previewDIV {
  margin-top: 9px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/*---------------------------------------------
  JS Infolayer
---------------------------------------------*/
div#infoDiv {
  z-index: 100;
  position: absolute;
  display: none;
  -moz-opacity: 0.80;
}
div#infoInnerLayer {
  border: 1px solid #000;
}

div#infoInnerLayer td {
  padding: 2px;
}

div#infoDiv {
  min-width: 250px; width: 250px;
/*
  width: auto !important;
  width: 280px;
*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

div#hDiv {
  min-width: 250px; width: 250px;
  position: absolute; z-index: 9;
  top: 0; left: 0;
}

iframe#ieFix {
  position: absolute; z-index:0;
  top: 0; left: 0;
}

td.infoTop {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

/*---------------------------------------------
  Syntax Highlighting (PHP)
---------------------------------------------*/
.codeHead {
  background-color: #20262b;
  border: 1px solid #000;
  padding: 2px;
}

.code,.codeHead  {
  width: 470px;
  max-height: 200px;
  background-color: #FFF;
  border: 1px solid #000;
  padding: 0px;
  overflow:auto;
}

.codeHead {
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000;
  font-weight: bold;
  border-bottom: 0px;
  background-color: #DDD;
}

.codeLines {
  width: 1%;
  color: #000;
  background-color: #DDD;
  border-right: 1px solid #000;
}
.codeContent,.codeContent *,.codeLines {
  padding: 0px;
  padding-left: 4px;
  padding-right: 2px;
  font-family: "Courier New", Verdana, Arial;
  font-size: 11px;
}
.codeContent * {
  padding:0px;
}
/*---------------------------------------------
  Colors of highlighting
---------------------------------------------*/
td.codeContent .string { color: #800; }
td.codeContent .comment { color: #C0C0C0; }
td.codeContent .keyword { color: #000; font-weight:bold; }
td.codeContent .bg { background: #DDD; }
td.codeContent .default { color: #000080; }
td.codeContent .html { color : #880; }
/*---------------------------------------------
  Resized Image Text (resized to...)
---------------------------------------------*/
span.resized {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

/*---------------------------------------------
Navigation: Teamswitcher
---------------------------------------------*/
select.teamswitch {
  width: 160px;
  color: #000;
  font-size: 97%;
  background-color: #FFF;
  border: 1px #000 solid;
}

/*---------------------------------------------
Attributes of all icons (flags/email/hp/teamspeak,etc)
---------------------------------------------*/
img.icon,img.helpicon,img.tsicon {
  vertical-align: middle;
}
/*
  helpicon
*/
img.helpicon { cursor: help; }
/*
  Teamspeak icons
*/
img.tsicon {
  margin: 1px;
}
/*---------------------------------------------
Board Quotes
---------------------------------------------*/
.quote {
  width: 95%;
  margin: auto;
  border: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 2px;
  background-color: #FFF;
  background-image: url(../../../images/quote.gif);
  background-repeat: no-repeat;
  color: #000;
}
.quote b, .quote a {
  font-size: 11px;
  color: #000;
}

/*---------------------------------------------
Adminmenu
---------------------------------------------*/
.adminBarInner,.adminBarInnerOver {
  text-align: center;
    text-decoration: none;
  margin: 0px;
    padding: 3px;
}
.adminBarInnerOver {

}

.adminBarOuter,.adminBarOuterOver {
    text-decoration : none;
    border: 1px solid #353535;
}

.adminMenuInner,.adminMenuInnerOver {
    margin: 3px 0 0 22px;
}

.adminMenuOuter,.adminMenuOuterOver {
    text-decoration : none;
    border: 1px solid #353535;
    padding: 0;
  background-repeat: no-repeat;
  background-position: 2px 50%;
}

.adminMenuInnerOver,.adminMenuOuterOver  {

}

/**************
  Search form
**************/
fieldset.search {
  border: 1px solid #000;
}

legend.search {
  margin: 0;
  padding: 0;
  color: #000;
}

ul.search {
  height: 200px;
  overflow: auto;
  width: 100%;
  border: 1px solid #000;
}

ul.search {
  background: #FFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul.search li {
  margin: 0;
  padding: 0;
}

label.search, label.searchKat {
  display: block;
  text-align: left;
  background-color: #FFF; color: #000;
  margin: 0; padding: 0;
  width: 100%;
}

label.search:hover {
  background-color: #EEE;
}

label.searchKat {
  background-color: #dbdbdb;
  font-weight: bold;
}

td.searchHead {
  border-bottom: 1px solid #888;
}

input.chksearch {
  margin: 2px;
  border:0px;
  cursor: pointer;
}

.highlightSearchTarget {
  padding: 2px;
  color: #000;
  background-color: #FEFECE;
}

/**************
  Glossar
**************/
a.glossar:link,a.glossar:visited,a.glossar:hover,a.glossar:active {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dashed;
}

/**************
  Membermap
**************/
div#memberMap {
  width: 100%;
  height: 600px;
}
div#memberMapInner {
  width: 180px;
  margin: auto;
  line-height: 180%;
  text-align: left;
  padding: 3px;
}

/*####################################
  TEMPLATE SPECIFIC STYLES
####################################*/
#time {
  color: #FFF;
  text-align: center;
  vertical-align: middle;
}
td.nautor a:link,td.nautor a:visited,td.nautor a:hover,td.nautor a:active { color: #FFF; }


/**************
  Permission Table
**************/
div.permissions input.checkbox {
  float: left; margin: 1px 2px;
}

div.permissions label {
  display: block; float: left; clear: right;
  width: 45%;
  text-align: left;
}

div.permissions br {
  clear: both;
  height: 0; line-height: 0; font-size: 0;
}

/**************
  Lightbox
**************/
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}
#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
    position: relative;
    background-color: #FFF;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}
#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}
#lightbox-nav-btnNext {
    right: 0;
    float: right;
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}
#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
    width: 26px;
    float: right;
    padding-bottom: 15px;
}

/**************
  Newsticker
**************/
div#ticker {
  position: absolute;
  top: 158px; left: 485px;
  width: 512px;
  overflow: hidden;
  padding: 0; text-align: center;
}
div#dzcpticker {
  width: 664px;
  overflow: hidden;
  padding: 0; text-align: center;
}

div#ticker,
div#dzcpticker,
div#ticker div.scrollDiv,
div#dzcpticker div.scrollDiv,
div#ticker div.scrollDiv td,
div#dzcpticker div.scrollDiv td {
  white-space: nowrap;
}

div#ticker a:link,
div#ticker a:visited {
  color: #FFF;
}

div#ticker a:hover,
div#ticker a:active {
  color: red;
}

/**************
  globale Suche
**************/
#searchpanel {
    background:url(../images/searchpanel/searchpanel.png);
    width:232px;
    height:30px;
    border: none;
    color:#7d7d7d;
    padding:0 8px;
}
* html #searchpanel { margin: -1px 0 }
*+html #searchpanel { margin: -1px 0 }

input.searchSubmit {
    background:url(../images/searchpanel/search.png);
    width:31px;
    height:30px;
    border:none;
    cursor:pointer;
    padding:0px;
    margin:0px;
}
input.searchSubmit:hover {
  background-position: 0 30px;
}
/*IE Hack*/
*+html input.searchSubmit { overflow: visible; }
* html input.searchSubmit { overflow: visible; }

/****************************************/

img.border {
  border: 1px solid #777;
}
/*TeamSpeak Channeltree*/
.tstree_left {
    float:left;
    width:80%;
}
.tstree_right {
    float:right;
    text-align:right;
    width:20%;
}
.tstree_clear {
    clear:both;
}
