div#main {
	height: 100%;
}
body { 
  background-color: #CED3D6; 
  color: #303030;   
  height:100%;
  font-family: Verdana; 
  font-size: 11px; 
  margin: 0;
	padding: 0;
}
td { 
  color: #303030; 
  font-size: 11px; 
  font-family: Verdana; 
}
A:link,A:visited {
  text-decoration: none;
  font-weight: bold; 
  font-family: Verdana; 
  font-size: 11px;
  color: #888888;
  border-color: #000000;
}
/* Definition eine Links, wenn man gerade mit der Maus drueber faehrt */
A:hover { 
  color: #000000;
  font-weight: bold; 
  font-style: normal; 
  font-family: Verdana; 
  font-size: 11px;
  text-decoration: none; 
}
.disabled {
  color: #000000;
  font-weight: bold; 
  font-style: normal; 
  font-family: Verdana; 
  font-size: 11px;
  text-decoration: none; 
}
.enabled {
  color: red;
  font-weight: bold; 
  font-style: normal; 
  font-family: Verdana; 
  font-size: 11px;
  text-decoration: none; 
}
.main {
  color: #000000;
  font-style: normal; 
  font-family: Verdana; 
  font-size: 10px;
  text-decoration: none; 
}
.head {
  color: #000000;
  font-style: normal; 
  font-family: Verdana; 
  font-size: 13px;
  font-weight: bold; 
  text-decoration: none; 
}
.emph { 
  background-color: #e9e9e9; 
  color: #000000;
  border: 1px solid #000000;
  font-size: 11px;
  font-family: Verdana; 
}
.info { 
  background-color: #e9e9e9; 
  color: #464646;
  border: 1px solid #c0c0c0;
  font-size: 10px;
  font-family: Verdana; 
}
.error { 
  background-color: #f3a2a6; 
  border: 1px solid red;
}
.error_text {
  color: black;
  font-size: 10px;
  font-family: Verdana; 
}
.done { 
  background-color: #adf3a2; 
  border: 1px solid green;
}
.php {
  color: black;
  font-size: 11px;
  font-family: Arial; 
}