<div id="profile" class="<!--StatusClass -->">
	<div id="avatar">
		<a href="<!--CommunityURL -->" rel="external">
			<img src="<!--AvatarURL -->" alt="Avatar" />
		</a>
	</div>
	<div id="info">
		<a href="<!--CommunityURL -->" rel="external"><!--Name --></a><br />
		<!--StatusMessage -->
	</div>
	<div id="menu">
		<img src="images/arrow-<!--StatusClass -->.png" onclick="javascript:toggle('links')" alt="-" />
		<ul id="links" style="display: none;">
			<li><a href="<!--JoinGameURL -->">Join Game</a></li>
			<li><a href="<!--AddFriendURL -->">Add to Friends</a></li>
		</ul>
	</div>
</div>